DEPLOY_TARGET="local" # alternatively: "testnet", "mainnet"

CLI_MNEMONIC=""
ON_CHAIN_TEST_REMOTE_MNEMONIC="" # only used when testing on testnet/mainnet, not needed for local
WAVS_OPERATOR_MNEMONIC_1=""
WAVS_OPERATOR_MNEMONIC_2=""
WAVS_AGGREGATOR_COSMOS_CREDENTIAL=""

WAVS_ENV_IMAP_DEBUG_CAPABILITIES=true

# Get these from the service developer, before running `task gmail-bootstrap`
WAVS_ENV_GMAIL_CLIENT_ID=""
WAVS_ENV_GMAIL_CLIENT_SECRET=""

# And set this after running `task gmail-bootstrap`
WAVS_ENV_GMAIL_TOKEN="<token here>"

# Leave these as-is for gmail
WAVS_ENV_IMAP_PORT=993
WAVS_ENV_IMAP_CREDENTIAL_KIND="gmail"
WAVS_ENV_IMAP_HOST="imap.gmail.com"
WAVS_ENV_IMAP_TLS=true

# For local dev, set these instead of the gmail values above
# WAVS_ENV_IMAP_PORT=3143
# WAVS_ENV_IMAP_HOST="127.0.0.1"
# WAVS_ENV_IMAP_TLS=false
# WAVS_ENV_IMAP_CREDENTIAL_KIND="plain"
# WAVS_ENV_IMAP_USERNAME="hello@example.com"
# WAVS_ENV_IMAP_PASSWORD="world"
